<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathhole Map Guide</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  	<script src="{{ url_for('static', filename = 'assets/js/jquery.js') }}"></script>
  
    
    <style>
        #map {
            height: 500px;
        }
    </style>
</head>
<body>

	<h5>Source : <span id="source"></span></h5>
	<h5>Destination :  <span id="dest"></span></h5>
	<h5>Reported Date :  <span id="datetime"></span></h5>
    <div id="map"></div>
    <script>
    	$(document).ready(function () {
            var urlParams = new URLSearchParams(window.location.search);
            var lid = urlParams.get('lid');
            

            $.ajax({
		      url:"/getpathcoords", 
		      type: "post", 
		      dataType: 'json',
		      data: {"lid":lid},
		      beforeSend: function(){
		         $(".loader").show();
		      },
		      success: function(output){

		      	$("#source").html(output[0]["start_loc"])
		      	$("#dest").html(output[0]["end_loc"])
		      	$("#datetime").html(output[0]["created_at"])

				var set1Coordinates = JSON.parse(output[0]["neg_coordinates"])
				var set2Coordinates = JSON.parse(output[0]["pos_coordinates"])

				var allCoordinates = set1Coordinates.concat(set2Coordinates);
				console.log(allCoordinates)
		        var map = L.map('map').fitBounds(allCoordinates).setZoom(5);
		        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		            attribution: '© OpenStreetMap contributors'
		        }).addTo(map);
		        for (var i = 0; i < set1Coordinates.length; i++) {
		            L.marker(set1Coordinates[i], { icon: createMarkerIcon('red') }).addTo(map);
		        }
		        var polylineSet1 = L.polyline(set1Coordinates, { color: 'red' }).addTo(map);
		        for (var j = 0; j < set2Coordinates.length; j++) {
		            L.marker(set2Coordinates[j], { icon: createMarkerIcon('green') }).addTo(map);
		        }
		        var polylineSet2 = L.polyline(set2Coordinates, { color: 'green' }).addTo(map);

		      }
			});
	    });

        // 


        
        function createMarkerIcon(color) {
            return L.divIcon({
                className: 'custom-marker-icon',
                iconSize: [20, 20],
                iconAnchor: [10, 10],
                popupAnchor: [0, -10],
                html: `<div style="width: 20px; height: 20px; background-color: ${color}; border-radius: 50%;"></div>`
            });
        }
    </script>

</body>
</html>
